[defaults]
# Ansible configuration file
deprecation_warnings = False
# Inventory
inventory = inventory
host_key_checking = False

# Roles
roles_path = roles

# Become
become_method = sudo
become_user = root

# SSH and connections
timeout = 30
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

# Display
force_color = True
stdout_callback = yaml

# Logging
log_path = ./ansible.log
